<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%=yield (:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <p> If you need help don't ask me I'm clueless</p>
  </body>
</html>